{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="page-header">Add Address</h2>
	<p class="bg-warning">Rue/Avenue/Boulevard/... NomDeRue Numéro <br/> For example : Rue Caroline 10</p>
	{{form_start(form)}}
		{{form_label(form.name)}}
		{{form_widget(form.name, {'attr': {'class' : 'form-control', 'style' : 'margin-bottom:15px'} })}}
		<input type="submit" value="Create" class="btn btn-primary" />
	{{form_end(form)}}
{% endblock %}